body {
  position: relative;
  padding-bottom: 50px;
  min-height: 100vh;
}
footer {
  background-color: rgb(128, 129, 129);
  color: #0a0a0a;
  bottom: 0;
  width: 100%;
  left: 0;
  position: absolute;
  height: 50px;
}

.brand {
  max-height: 35px;
}
.nav-item {
  font-weight: normal;
}
.nav-card {
  text-align: right;
}
.addbutton {
  text-align: center;
}
.btn-add {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.btn-add i {
  font-size: 4rem;
  justify-content: center;
  color: rgb(24, 173, 223);
}
.card-home {
  text-align: center;
  border-color: black;
}
.info {
  bottom: 50px;
  position: fixed;
}
